<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">KBTUklassniki</h1>
      <p>Share each other's emotions.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <!-- Основная часть страницы -->
      <div class="col-md-9 main-feed">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <!-- Перебираем элементы feedList и отображаем их -->
            <li class="nav-item" *ngFor="let feed of feedList(); trackBy: trackByFeed">
              <a class="nav-link" [ngClass]="{'active': feed.isActive}" (click)="setActiveFeed(feed)">
                {{feed.name}}
              </a>
            </li>
          </ul>
        </div>

        <app-articles-feed [feedMenuId]="activeFeed()?.id" [queryParams]="feedQueryParams()"></app-articles-feed>
      </div>

      <!-- Сайдбар -->
      <div class="col-md-3 sidebar-container">
        <div class="sidebar">
          <app-article-tags (tagSelected)="setTagsFeed($event)"></app-article-tags>
        </div>
      </div>
    </div>
  </div>
</div>
